{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@nestjs/(.*)$", "^src/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
